$header-color: black;
$newpost-color: #3273dc;

body, .button {
  font-family: 'Work Sans', sans-serif;
}

header {
    background-color: #f3f3f3;
    text-align: center;
}

h6 {
    padding: 20px;
    text-align: center;
}

#showModal {
  background-color: $newpost-color;
}

#pageName {
  color:$header-color;
  font-family:  'Lily Script One', cursive;
  font-size: 100px;
  font-weight: bold;
  height: auto;
  padding: 20px 20px 0px 20px;
}

#pageName {
    /* font-family: 'Work Sans', sans-serif; */
    font-weight: bold;
    height: auto;
    padding: 20px 20px 0px 20px;
}

.navbar {
    background-color: #f3f3f3;
    padding: 0px 10px 10px 10px;
    position: sticky;
    top: 0;
}

.card-image {
  background-size: cover;
  max-height: 450px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.modal-card-body .content {
  padding: 10px 5px 10px 5px;
}

.content {
  padding: 5px 10px 5px 40px;
}

.titlesec {
    padding: 10px 0px;
}

#gifentry {
  width: 200px;
}

.editbutton {
  position: absolute;
  right: 70px;
}

.deletebutton {
  position: absolute;
  right: 10px;
}

.results {
    margin-bottom: 1000px;
}


.page-footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 50px;
    margin-top: 50px;
}

.title.is-4.has-text-centered {
  padding-top: 10px;
  padding-left: 40px;
}

.commentSection {
  padding-left: 10px;
  margin-top:0;
  background-color: rgb(245, 245, 245);
}
// fix position of comments
.commentTextArea {
  width: 40%;
  position: absolute;
  right: 120px;
  bottom: 10px;
}

.button.cb {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
// fix position of emojis
#emojiContainer {
  position: absolute;
  left: 25px;
  bottom: 10px;
}
//fix border line colour
.cameraMode, .cameraType, .lensType {
  border-top: 1px solid #c4c4d4;
}
.card-footer-item:not(:last-child) {
  border-right: 1px solid #c4c4d4;
}

@media screen and (min-width: 769px) {
  #mobile-menu {
    display: none;
  }
  main {
      width: 95%;
      margin: auto;
      margin-top: 25px;
  }
  .card.column.is-half {
      height: 600px;
      margin: auto;
      width: 49%;
      margin-bottom: 10px;
  }
}

@media screen and (max-width: 769px) {
  .navbar-item.has-dropdown.is-hoverable {
    display: none;
  }
  .menu-label {
    margin-left: 10px;
    font-size: 1.5em;
  }
  .navbar-menu {
    display: initial;
  }
  #pageName {
    font-size: 65px;
  }
  #showModal {
    width:120px;
    height:auto;
  }
}
